.App {
  text-align: center;
}

body {
  background-color: #4d4d4d;
}
.header {
  /* padding: 20px; */
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 40px;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  /* border: 1px solid black; */
}

.message-scroll {
  /* padding: 20px 20px; */
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-height: 600px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  border-radius: 6px;
}

.message-scroll::-webkit-scrollbar {
  width: 3px; /* width of the scrollbar */
  background-color: #1A1A1A; /* background color of the scrollbar */
}

#message-scroll::-webkit-scrollbar-thumb {
  background-color: #393939; /* color of the scrollbar thumb */
  border-radius: 10px; /* roundness of the scrollbar thumb */
}


.upper-content {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  border-radius: 6px;
  border-radius: 4px 18px 18px 18px;
  padding: 10px;
  background-color: #26262A
  /* max-width: 1000px; */
  /* width: 100%; */
}

.lower-content {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-top: 5px;
}


.Messages--sender{
  color: #757575
}

.MessagesRecieved {
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  margin-right: auto;
  max-width: 40%;
  /* justify-content: space-between; */
  /* align-items: center; */

}

.Messages--time {
  justify-content: flex-end;
  color: #757575;
  margin-left: 5px;
}

.Messages--content {
  /* justify-content: center;
  /* align-items: center; */
  text-align: left;
  color: white; 
}

.container-foot {
  /* border: 1px solid black; */
  /* padding-top: 20px; */
  height: 50px;
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

.input-message {
  width: 100%;
  max-width: 700px;
  height: 70%;
  border-radius: 6px;
  border: none;
  padding: 5px;
}

.send-btn {
  margin-left: -85px;
  background-color: #3477F0;
  border: none;
  padding: 5px 20px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* messages sent */

.MessagesSent {
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  margin-left: auto;
  max-width: 40%;
}

.upper-content-s {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  border-radius: 18px 4px 18px 18px;
  padding: 10px;
  background-color: #3477F0;
  
}

.Messages--content-s {
  /* justify-content: center; */
  /* align-items: center; */
  text-align: right;
  color: white;
}