.App {
  text-align: center;
}

.header {
  /* padding: 20px; */
  font-size: 24px;
  font-weight: bold;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  /* border: 1px solid black; */
}

.message-scroll {
  /* padding: 20px 20px; */
  border: 1px solid black;
  max-height: 600px;
  height: 100%;
  overflow: scroll;
  width: 100%;
}

.upper-content {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  /* max-width: 1000px; */
  /* width: 100%; */
}

.lower-content {
  display: flex;
  justify-content: space-between;
}


.Messages--sender{
  color: green;
}

.MessagesRecieved {
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  /* justify-content: space-between; */
  /* align-items: center; */

}

.Messages--time {
  justify-content: flex-end;
  color: red;
}

.Messages--content {
  justify-content: center;
  align-items: center;
  color: blue;
}

.container-foot {
  /* border: 1px solid black; */
  padding-top: 20px;
  height: 50px;
  max-width: 800px;
  width: 100%;
}

.input-message {
  width: 100%;
  max-width: 700px;
  height: 70%;
}